.slick{
    background-color: rgb(186, 146, 146);
    height: 400px;
    display: flex;
    justify-content: center;
    
    .container{
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-direction: column;
        // background-color: rgb(68, 68, 146);
        width: 600px;
        margin: 0 auto;
    
    }
}